<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      Vendas por origem (Por dia) - <%= @report.start.strftime("%d/%m/%Y") %>
      <ul class="nav navbar-tool pull-right">    
        <li class="dropdown pull-right">
          <a md-ink-ripple="" data-toggle="dropdown" class="waves-effect" aria-expanded="false">
            <i class="mdi-navigation-more-vert i-24"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up text-color">
            <li><a href="/admin/insights/source/daily?token=<%= @store.token %>">Diário</a></li>
            <li><a href="/admin/insights/source/weekly?token=<%= @store.token %>">Semanal</a></li>
            <li><a href="/admin/insights/source/monthly?token=<%= @store.token %>">Mensal</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <%= render :partial => 'internal_table' %>
  </div>
</div>
<%= render :partial => 'shared/other_periods', :locals => {:action => '//inteligence-vnda.herokuapp.com/api/v1/source' } %>