<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      Abc de Variantes (Últimos 30 dias) - <%= @report.start.strftime("%d/%m/%Y") %> até <%= @report.end.strftime("%d/%m/%Y") %> 
      <ul class="nav navbar-tool pull-right">    
        <li class="dropdown pull-right">
          <a md-ink-ripple="" data-toggle="dropdown" class="waves-effect" aria-expanded="false">
            <i class="mdi-navigation-more-vert i-24"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up text-color">
            <li><a href="/admin/insights/sku_curve/daily?token=<%= @store.token %>">Diário</a></li>
            <li><a href="/admin/insights/sku_curve/weekly?token=<%= @store.token %>">Semanal</a></li>
            <li><a href="/admin/insights/sku_curve/monthly?token=<%= @store.token %>">Mensal</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <%= render :partial => 'internal_table' %>
  </div>
</div>

<%= render :partial => 'shared/other_periods', :locals => {:action => '//inteligence-vnda.herokuapp.com/api/v1/sku_curve' } %>