<div class="panel panel-default">
  <div class="panel-heading">
    Vendas por estado (Últimos 30 dias) - <%= @report.start.strftime("%d/%m/%Y") %> até <%= @report.end.strftime("%d/%m/%Y") %> 
    <span class="btn-group pull-right" role="group">
      <a href="/admin/insights/states/daily?token=<%= @store.token %>" class="btn btn-default">Ontem</a>
      <a href="/admin/insights/states/weekly?token=<%= @store.token %>" class="btn btn-default">Últimos 15 dias</a>
      <a href="/admin/insights/states/monthly?token=<%= @store.token %>" class="btn btn-dark">Últimos 30 dias</a>
    </span>
  </div>
  <%= render :partial => 'internal_table' %>
</div>